Transbank/Webpay/Web References/Wsdl.OneClick/OneClickPaymentServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webpayserver.transbank.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OneClickPaymentServiceImplService" targetNamespace="http://webservices.webpayserver.transbank.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.webpayserver.transbank.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="authorize" type="tns:authorize" />
      <xs:element name="authorizeResponse" type="tns:authorizeResponse" />
      <xs:element name="codeReverseOneClick" type="tns:codeReverseOneClick" />
      <xs:element name="codeReverseOneClickResponse" type="tns:codeReverseOneClickResponse" />
      <xs:element name="finishInscription" type="tns:finishInscription" />
      <xs:element name="finishInscriptionResponse" type="tns:finishInscriptionResponse" />
      <xs:element name="initInscription" type="tns:initInscription" />
      <xs:element name="initInscriptionResponse" type="tns:initInscriptionResponse" />
      <xs:element name="removeUser" type="tns:removeUser" />
      <xs:element name="removeUserResponse" type="tns:removeUserResponse" />
      <xs:element name="reverse" type="tns:reverse" />
      <xs:element name="reverseResponse" type="tns:reverseResponse" />
      <xs:complexType name="removeUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickRemoveUserInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickRemoveUserInput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="tbkUser" type="xs:string" />
              <xs:element minOccurs="0" name="username" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseBean">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="removeUserResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="initInscription">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickInscriptionInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickInscriptionInput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="email" type="xs:string" />
              <xs:element minOccurs="0" name="responseURL" type="xs:string" />
              <xs:element minOccurs="0" name="username" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="initInscriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:oneClickInscriptionOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickInscriptionOutput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="token" type="xs:string" />
              <xs:element minOccurs="0" name="urlWebpay" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="finishInscription">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickFinishInscriptionInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickFinishInscriptionInput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="token" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="finishInscriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:oneClickFinishInscriptionOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickFinishInscriptionOutput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="authCode" type="xs:string" />
              <xs:element minOccurs="0" name="creditCardType" type="tns:creditCardType" />
              <xs:element minOccurs="0" name="last4CardDigits" type="xs:string" />
              <xs:element name="responseCode" type="xs:int" />
              <xs:element minOccurs="0" name="tbkUser" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="codeReverseOneClick">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickReverseInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickReverseInput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="buyorder" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="codeReverseOneClickResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:oneClickReverseOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickReverseOutput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="reverseCode" type="xs:long" />
              <xs:element name="reversed" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="authorize">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickPayInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickPayInput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="amount" type="xs:decimal" />
              <xs:element minOccurs="0" name="buyOrder" type="xs:long" />
              <xs:element minOccurs="0" name="tbkUser" type="xs:string" />
              <xs:element minOccurs="0" name="username" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="authorizeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:oneClickPayOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oneClickPayOutput">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBean">
            <xs:sequence>
              <xs:element minOccurs="0" name="authorizationCode" type="xs:string" />
              <xs:element minOccurs="0" name="creditCardType" type="tns:creditCardType" />
              <xs:element minOccurs="0" name="last4CardDigits" type="xs:string" />
              <xs:element name="responseCode" type="xs:int" />
              <xs:element name="transactionId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="reverse">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:oneClickReverseInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reverseResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="creditCardType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Visa" />
          <xs:enumeration value="AmericanExpress" />
          <xs:enumeration value="MasterCard" />
          <xs:enumeration value="Diners" />
          <xs:enumeration value="Magna" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="initInscriptionResponse">
    <wsdl:part name="parameters" element="tns:initInscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="initInscription">
    <wsdl:part name="parameters" element="tns:initInscription" />
  </wsdl:message>
  <wsdl:message name="removeUser">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="finishInscriptionResponse">
    <wsdl:part name="parameters" element="tns:finishInscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="codeReverseOneClick">
    <wsdl:part name="parameters" element="tns:codeReverseOneClick" />
  </wsdl:message>
  <wsdl:message name="reverseResponse">
    <wsdl:part name="parameters" element="tns:reverseResponse" />
  </wsdl:message>
  <wsdl:message name="reverse">
    <wsdl:part name="parameters" element="tns:reverse" />
  </wsdl:message>
  <wsdl:message name="finishInscription">
    <wsdl:part name="parameters" element="tns:finishInscription" />
  </wsdl:message>
  <wsdl:message name="removeUserResponse">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="authorizeResponse">
    <wsdl:part name="parameters" element="tns:authorizeResponse" />
  </wsdl:message>
  <wsdl:message name="authorize">
    <wsdl:part name="parameters" element="tns:authorize" />
  </wsdl:message>
  <wsdl:message name="codeReverseOneClickResponse">
    <wsdl:part name="parameters" element="tns:codeReverseOneClickResponse" />
  </wsdl:message>
  <wsdl:portType name="OneClickPaymentService">
    <wsdl:operation name="removeUser">
      <wsdl:input name="removeUser" message="tns:removeUser" />
      <wsdl:output name="removeUserResponse" message="tns:removeUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="initInscription">
      <wsdl:input name="initInscription" message="tns:initInscription" />
      <wsdl:output name="initInscriptionResponse" message="tns:initInscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="finishInscription">
      <wsdl:input name="finishInscription" message="tns:finishInscription" />
      <wsdl:output name="finishInscriptionResponse" message="tns:finishInscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="codeReverseOneClick">
      <wsdl:input name="codeReverseOneClick" message="tns:codeReverseOneClick" />
      <wsdl:output name="codeReverseOneClickResponse" message="tns:codeReverseOneClickResponse" />
    </wsdl:operation>
    <wsdl:operation name="authorize">
      <wsdl:input name="authorize" message="tns:authorize" />
      <wsdl:output name="authorizeResponse" message="tns:authorizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <wsdl:input name="reverse" message="tns:reverse" />
      <wsdl:output name="reverseResponse" message="tns:reverseResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OneClickPaymentServiceImplServiceSoapBinding" type="tns:OneClickPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finishInscription">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="finishInscription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="finishInscriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initInscription">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="initInscription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="initInscriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authorize">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="authorize">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authorizeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="codeReverseOneClick">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="codeReverseOneClick">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="codeReverseOneClickResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="reverse">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="reverseResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OneClickPaymentServiceImplService">
    <wsdl:port name="OneClickPaymentServiceImplPort" binding="tns:OneClickPaymentServiceImplServiceSoapBinding">
      <soap:address location="https://webpay3gint.transbank.cl:443/webpayserver/wswebpay/OneClickPaymentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>